@import 'partial';
$red-color : #b32400;
$nav-background-color : #404040;
$nav-font-color: #b3b3b3;
$title-background-color: white;



@media screen and (min-width: 0px){
	#titleContainer {
		display: inline;
		background-color: $title-background-color;
		position: fixed;
		width: 100%;
		height: 60px;
		line-height: 10px;
		h1 {
			font-size: 25px;
			font-family: 'Oswald', sans-serif;
			color: $nav-background-color;
			padding: 5px;
			width: 100px;
			
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		position: fixed;
		top: 60px;
		width: 100%;
		border: 1px solid #555;
		background: $nav-background-color;
		text-align: center;
		height: 40px;
		display: flex;
		flex-flow: row nowrap;
		div {
			flex: 0 0 33.4%;
			line-height: 10px;
			display: inline;
			border-right: 1px solid white;
			padding: 16px;
			box-sizing: border-box;

			li {

				display: inline-block;
				text-align: center;

				a {
					
					text-decoration: none;
					padding: 15px;
					color: $nav-font-color;
					font-size: 20px;
				}	
			}
		}
	}
	#articleContainer {
		text-align: center;

		#container1 {
			margin-top: 150px;
		}

		.articleContainer {

			height: 400px;
			width: 400px;
			margin: 10px;
			padding: 20px;
			background-color: $title-background-color;
			display: inline-block;
			box-shadow: 2px 2px 2px #660000;
			div {
				bottom: 0;
			}
			h1 {
				font-size: 20px;
				font-family: 'Oswald', sans-serif;
			}
		}
	}
	#logo {
		width: 50px;
		height: 50px;
	}
	
}

body {
	margin: 0;
	background-image: url('/assets/bg.jpg');
  	// font-family: 'Oswald', sans-serif;
  	font-family: 'Lato', sans-serif;
}

